.footer {
  text-align: center;
  width: 100%;
  font-size: 20px;
  border-top: 1px solid rgb(172, 172, 172);
  padding: 8px;
  margin-top: auto;
}

.link {
  font-weight: bold;
  cursor: pointer;
  transition: 150ms;
}

.link:hover {
  color: rgb(69, 66, 66);
}
